In [46]:
import nselib

from nselib import capital_market

del_data = capital_market.price_volume_and_deliverable_position_data(symbol='SBIN', period='1W')
del_data[["Symbol", "Date", "ClosePrice", "%DlyQttoTradedQty"]]

c:\Users\tejal\Desktop\portfoliotracker\venv\lib\site-packages\nselib\capital_market\capital_market_data.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

  Symbol         Date  ClosePrice  %DlyQttoTradedQty
0   SBIN  08-Jan-2024      627.00              46.38
1   SBIN  09-Jan-2024      625.40              41.04
2   SBIN  10-Jan-2024      621.75              56.34
3   SBIN  11-Jan-2024      620.20              64.05
4   SBIN  12-Jan-2024      633.60              48.26

In [47]:
nifty_50_list = capital_market.nifty50_equity_list()
nifty_50_list.tail(5)

             Company Name                Industry      Symbol
45     Tech Mahindra Ltd.  Information Technology       TECHM
46     Titan Company Ltd.       Consumer Durables       TITAN
47               UPL Ltd.               Chemicals         UPL
48  UltraTech Cement Ltd.  Construction Materials  ULTRACEMCO
49             Wipro Ltd.  Information Technology       WIPRO

In [48]:
vix_data = capital_market.india_vix_data(period='1W')
vix_data[["TIMESTAMP", "INDEX_NAME", "VIX_PTS_CHG", "VIX_PERC_CHG" ]]

# price_volume_data X
# market_watch_all_indices
# fii_dii_trading_activity

c:\Users\tejal\Desktop\portfoliotracker\venv\lib\site-packages\nselib\capital_market\capital_market_data.py:182: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

     TIMESTAMP INDEX_NAME  VIX_PTS_CHG  VIX_PERC_CHG
0  08-JAN-2024  INDIA VIX       0.8325      6.591449
1  09-JAN-2024  INDIA VIX      -0.2000     -1.485608
2  10-JAN-2024  INDIA VIX      -0.2925     -2.205467
3  11-JAN-2024  INDIA VIX      -0.2025     -1.561295
4  12-JAN-2024  INDIA VIX       0.3325      2.604269

In [49]:
indices_data = capital_market.market_watch_all_indices()
indices_data[["index", "last", "variation", "percentChange", "advances", "declines", "perChange30d","oneWeekAgo", "oneMonthAgo"]]

,index,last,variation,percentChange,advances,declines,perChange30d,oneWeekAgo,oneMonthAgo
0,NIFTY 50,21894.55,247.35,1.14,32,18,4.63,21710.80,21182.70
1,NIFTY NEXT 50,54742.90,147.30,0.27,27,22,6.77,54295.25,51925.45
2,NIFTY 100,22159.25,217.10,0.99,60,40,5.02,21974.60,21364.30
3,NIFTY 200,11960.85,105.65,0.89,108,92,5.13,11872.30,11520.35
4,NIFTY 500,19745.60,161.25,0.82,260,237,5.3,19590.60,18973.85
...,...,...,...,...,...,...,...,...,...
68,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),870.18,-0.83,-0.09,NaN,NaN,0.59,867.05,869.36
69,NIFTY 4-8 YR G-SEC INDEX,2754.71,0.71,0.02,NaN,NaN,1.21,2745.52,2735.25
70,NIFTY 11-15 YR G-SEC INDEX,2772.09,-1.10,-0.03,NaN,NaN,1.3,2752.67,2750.55
71,NIFTY 15 YR AND ABOVE G-SEC INDEX,3015.95,-0.70,-0.02,NaN,NaN,1.57,2991.22,2994.69
72,NIFTY COMPOSITE G-SEC INDEX,2610.04,-0.73,-0.02,NaN,NaN,1.22,2597.05,2591.65

In [52]:
import requests
import pandas as pd

header = {
    "Connection": "keep-alive",
    "Cache-Control": "max-age=0",
    "DNT": "1",
    "Upgrade-Insecure-Requests": "1",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) "
                "Chrome/111.0.0.0 Safari/537.36",
    "Sec-Fetch-User": "?1", "Accept": "*/*", "Sec-Fetch-Site": "none", "Sec-Fetch-Mode": "navigate",
    "Accept-Encoding": "gzip, deflate, br", "Accept-Language": "en-US,en;q=0.9,hi;q=0.8"
    }

def nse_urlfetch(url):
    r_session = requests.session()
    nse_live = r_session.get("http://nseindia.com", headers=header)
    return r_session.get(url, headers=header)

def fii_dii_trading_activity():
    """
    FII and DII trading activity of the day in data frame
    :return: pd.DataFrame
    """
    url = "https://www.nseindia.com/api/fiidiiTradeReact"
    data_json = nse_urlfetch(url).json()
    data_df = pd.DataFrame(data_json)
    return data_df

fii_dii_data = fii_dii_trading_activity()
fii_dii_data

    category         date  buyValue sellValue netValue
0     DII **  12-Jan-2024  13152.89   10241.7  2911.19
1  FII/FPI *  12-Jan-2024  11904.24  12244.29  -340.05

In [72]:
bhav_del = capital_market.bhav_copy_with_delivery('12-01-2024')
NIFTY_500_df = pd.read_csv("https://archives.nseindia.com/content/indices/ind_nifty500list.csv")
NIFTY_500_data_df = NIFTY_500_df[['Company Name', 'Industry', 'Symbol']]

NIFTY_500_data_df.columns = NIFTY_500_data_df.columns.str.upper()

merged_df = pd.merge(NIFTY_500_data_df, bhav_del, on='SYMBOL', how='left')
merged_df['DELIV_PER'] = pd.to_numeric(merged_df['DELIV_PER'], errors='coerce')

df_sorted = merged_df.sort_values(by='DELIV_PER', ascending=False)
filtered_df = df_sorted[df_sorted['SERIES'] == 'EQ']

filtered_df = filtered_df[["SYMBOL", "CLOSE_PRICE", "PREV_CLOSE", "DELIV_PER"]]
filtered_df.head(50)

         SYMBOL  CLOSE_PRICE  PREV_CLOSE  DELIV_PER
473  SHOPERSTOP       703.00      692.25      94.02
434        PGHL      5210.30     5134.75      86.06
562         VBL      1265.05     1278.10      81.61
288  INDIGOPNTS      1484.55     1471.50      80.64
103        CERA      8017.50     7762.80      80.49
432  PRINCEPIPE       722.45      730.65      80.08
391  NAVINFLUOR      3534.85     3531.40      79.49
420   PPLPHARMA       142.05      143.50      78.96
29        ARE&M       802.45      797.00      78.79
547    UNOMINDA       717.75      721.30      78.26
166      FORTIS       421.20      432.30      77.96
404   POLICYBZR       852.05      833.45      77.80
496  STARHEALTH       555.75      555.50      77.21
300    JKCEMENT      4047.95     4045.55      76.73
108    CHOLAFIN      1246.50     1231.35      75.89
214  POWERINDIA      5915.75     5976.75      75.72
148   ELGIEQUIP       536.10      532.80      75.64
182    GODREJCP      1155.50     1155.10      75.10
47        DMART      3841.00     3821.35      75.05
326  KARURVYSYA       168.40      168.10      74.90
328         KEC       609.95      605.50      73.83
531   TEAMLEASE      3197.60     3147.70      73.59
225  ICICIPRULI       529.95      541.60      73.55
51          BSE      2237.10     2255.80      73.07
224     ICICIGI      1394.10     1393.25      71.88
174       GLAND      1965.85     1957.15      71.72
554  MCDOWELL-N      1111.50     1117.90      71.68
360      MARUTI      9965.65    10011.10      71.24
302   JKLAKSHMI       870.00      873.90      71.10
175       GLAXO      2257.00     2199.70      70.91
212  HINDUNILVR      2544.00     2536.20      70.64
25        ALKEM      5048.70     5057.75      70.30
537      TIMKEN      3357.15     3362.55      69.72
325   KANSAINER       340.30      338.90      69.51
112       CIPLA      1308.00     1325.65      69.07
131       DABUR       549.70      552.00      68.64
494    SONACOMS       605.35      606.70      68.49
468    SAPPHIRE      1443.15     1416.45      67.94
149    EMAMILTD       524.75      539.25      67.91
429   POWERGRID       239.50      241.95      67.87
48     AXISBANK      1120.35     1125.75      67.57
223   ICICIBANK      1003.50      991.15      67.54
460     SBICARD       766.70      762.35      67.44
102  CENTURYTEX      1492.70     1546.50      67.07
551  ULTRACEMCO      9808.45     9920.45      66.94
393   NESTLEIND      2549.60     2557.20      66.89
74   BIRLACORPN      1430.05     1439.80      66.81
501    SUMICHEM       408.25      407.60      66.78
145         EPL       197.15      198.50      66.32
179    GOCOLORS      1168.30     1172.75      66.20

In [86]:
from nselib import derivatives

# data = derivatives.future_price_volume_data(symbol='SBIN', instrument='FUTSTK', period='1W')
# data

# derivatives_fii_stats = derivatives.fii_derivatives_statistics('12-01-2024')
# derivatives_fii_stats[["fii_derivatives", "buy_value_in_Cr" ,"sell_value_in_Cr"]]

# derivatives.participant_wise_trading_volume('12-01-2024')

# derivatives.participant_wise_open_interest('12-01-2024')

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts,Total Short Contracts
0,Client,189917,231913,1717951,277499,3593334,4357919,3991856,4696806,1664896,605840,1013582,749402,12129856,10961058
1,DII,54952,81368,88478,2106274,0,79404,0,0,142,666,129812,0,223642,2317454
2,FII,158057,91438,1471574,1203576,1069803,1287572,789949,1014822,91224,94872,157810,98639,4173102,3356234
3,Pro,37261,35468,535272,225926,1393610,1655346,1274942,1668613,552946,598651,1008004,451988,4773086,4664941

In [88]:
from datetime import datetime, timedelta

def get_previous_working_day():
    # Get today's date
    today = datetime.now()

    # Calculate the timedelta to get the previous day
    one_day = timedelta(days=1)
    previous_day = today - one_day

    # Check if the previous day is Saturday or Sunday
    while previous_day.weekday() in [5, 6]:  # 5 is Saturday, 6 is Sunday
        previous_day -= one_day

    # Format the date in "dd-mm-yyyy" format
    formatted_date = previous_day.strftime("%d-%m-%Y")
    
    return formatted_date

# Example usage
previous_working_day = get_previous_working_day()
print("Previous working day:", previous_working_day)

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'int'